	#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    /*to make the height and width responsive*/
    width: 40vw;
    background: url("C:/Users/HOME/Desktop/Adithya/New folder (2)/Clock/clock-removebg-preview (2).png") no-repeat;
    /*setting our background image*/
    background-size: 100%;
}
body{
	background-color: royalblue;
}
#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
    opacity: 0.9;
}
  
#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.9;
}
  
#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.9;
}
 
#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.9;
}
body{
	font-family: Bell MT;
	font-size: 100px;
	text-align: center;
	border-style: groove;
	border-width: 9px;
	color: red;
	text-shadow: -1px 0px black, 0 1px black, 1px 0 black, 0 -1px black;